<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="dashboard">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="image_slider">Image Slider</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="edit_image_slider">Edit Image Slider</a>
            <i class="fa fa-circle"></i>
        </li>

    </ul>

</div>
<h3 class="page-title"> Edit Image Slider

</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet box yellow-crusta">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Edit Image Slider</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="javascript:;" class="reload"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="pageloader" style="display:none;">
                </div>
                <form id="edit_slider" class="form-horizontal form-bordered" name="edit_slider" ng-submit="edit(edit_slider.$valid)" novalidate>
                    <div class="form-group">
                        <label class="control-label col-md-3">Title</label>
                        <div class="col-md-4">
                            <div class="input-icon right">
                                <input type="text" class="form-control" name="edit_title" id="edit_title" ng-model="edit_title"> </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Description</label>
                        <div class="col-md-4">
                            <div class="input-icon right">
                                <textarea rows="3" cols="50" type="text" class="form-control" name="edit_description" id="edit_description" ng-model="edit_description"></textarea>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-3">Button Text</label>
                        <div class="col-md-4">
                            <div class="input-icon right">
                                <input type="text" class="form-control" name="edit_button_text" id="edit_button_text" ng-model="edit_button_text">
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-3">Button Url</label>
                        <div class="col-md-4">
                            <div class="input-icon right">
                                <input type="text" class="form-control" name="edit_button_url" id="edit_button_url" ng-model="edit_button_url"> </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-3">Active</label>
                        <div class="col-md-4">
                            <div class="input-icon right">
                                <switch name="edit_active" ng-model="edit_active" on="Active" off="Inactive" class="wide"></switch>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-3">Image<span class="required" aria-required="true">*</span></label>
                        <div class="col-md-4">
                            <div class="col-md-6">
                                <div class="input-icon right">
                                    <button type="button" class="btn green" ng-click="showImageEdit()">
                                        Change Image</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="image_show">
                                    <img ng-src="./{{edit_image}}" alt="No Image" height="50" width="50">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="show_edit_image" class="form-group">
                        <label class="control-label col-md-3">Image</label>
                        <div class="col-md-4">
                            <div class="input-icon right">
                                <input type="file" file-model="edit_slider_image" class="form-control" name="edit_slider_image" id="edit_slider_image" ng-model="edit_slider_image"> </div>
                        </div>
                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" id="submit" class="btn btn-color">
                                    <i class="fa fa-check"></i> Submit</button>
                                <button ng-click="goback()" type="button" class="btn default">Cancel</button>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>


